*{
  font-family: "Parrafs-regular";
}

#root{
  display: flex;
  flex-direction: column;

}

.scroll-container {
  overflow: auto;
  scrollbar-width: thin; /* Firefox: delgado */
  scrollbar-color: #888 #f1f1f1; /* Firefox: color del thumb y track */
}

/* WebKit (Chrome, Safari, Edge) */
.scroll-container::-webkit-scrollbar {
  width: 5px; /* Más delgado */
  height: 5px; /* Para scroll horizontal */
  opacity: 0; /* Inicialmente invisible */
  transition: opacity 0.3s;
}

.scroll-container:hover::-webkit-scrollbar {
  opacity: 1; /* Aparece en hover */
}

/* Track */
.scroll-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Thumb */
.scroll-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Hover del thumb */
.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* --- FONTS --- */

/* Brand */
@font-face {
  font-family: "brand";
  src: url('../public/fonts/Anta/Anta/Anta-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Label */
@font-face {
  font-family: "Label-Regular";
  src: url('../public/fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Label */
@font-face {
  font-family: "Label-Light";
  src: url('../public/fonts/Ubuntu/Ubuntu-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Label-Medium";
  src: url('../public/fonts/Ubuntu/Ubuntu-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Input */
@font-face {
  font-family: "Input-Regular";
  src: url('../public/fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Input-Medium";
  src: url('../public/fonts/Montserrat/static/Montserrat-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Input-SemiBold";
  src: url('../public/fonts/Montserrat/static/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Input-SemiBold";
  src: url('../public/fonts/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Input-Light";
  src: url('../public/fonts/Montserrat/static/Montserrat-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Parrafs */
@font-face {
  font-family: "Parrafs-regular";
  src: url('../public/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Parrafs */
@font-face {
  font-family: "Parrafs-light";
  src: url('../public/fonts/Poppins/Poppins-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Parrafs */
@font-face {
  font-family: "Parrafs-Prices";
  src: url('../public/fonts/PT_Sans/PTSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}